

$color-text-dark: #0A0908;
$color-text-extra-light: #ececec;
$color-text-light: #dbdbdb;
$color-text-white: white;


$color-primary: #7067CF;
$color-secondary: #F0EFFA;
$color-error    : #ff1500;





$back-drop-zindex: 1;
